@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

.jumbo {
    margin-bottom: 6.25rem;
    padding: 6.25rem;
    /* background-image: url("../../assets/images/iris-laura-5UCZREYSXDs-unsplash.jpg"); */
    
}

.title  {
    color: #A0C1B9;
    font-family: 'Abril Fatface', serif;
}

.subtitle   {
    color: #A0C1B9;
    font-family: 'Abril Fatface', serif;
}