@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

.jumbo {
    margin-bottom: 6.25rem;
    padding: 6.25rem;
    
    
}

.title  {
    color: #A0C1B9;
    
}

.subtitle   {
    color: #A0C1B9;
    
}