.form-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    text-align: center;
    width: 80%;
    max-width: 400px;
    margin: 0 auto;
    color: #A0C1B9;
  }

  .form-label {
    color: #A0C1B9;
  }

  .btn {
    background-color: #70A0AF;
    margin-top: .625rem;
  }