body  {
  position: relative;
  background-image: url(../src/assets/images/vital-sinkevich-LAKQ3i-xn84-unsplash.jpg);
  background-size: cover;
  background-position: center;
  

}

h1{
  color: #A0C1B9;
}